/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/10/2022, 13:28:01
    Author     : Cliente
*/

.painel-login{
    -fx-background-color: linear-gradient(to  right bottom, #bb0d0d, #ea9191);   
}
.btn{
    -fx-background-color: linear-gradient(to bottom right, #325078, #80a5d6);
    -fx-border-radius: 20px;
    -fx-fill: #ffffff;
     -fx-cursor: hand;
    

}
.input-text{
    -fx-background-color: transparent;
    -fx-border-color: #3f3951;
    -fx-border-width: 0px 0px .8px 0px;
}

